.modalBackground {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100dvh;
    padding: 2rem;

    background-color: #00000025;
    z-index: 2;

    overscroll-behavior-y: contain;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 500px;
    max-height: 85%;
    padding: 2rem 1.4rem;
    margin: auto;

    overflow-y: auto;
}

@media screen and (width < 500px) {
    .modalContainer {
        height: 100%;
        max-height: 100%;
    }
}