main {
    display: flex;
    flex-direction: column;
    gap: 12px;

    max-width: 400px;
    width: 100%;
    padding: 12px 12px 48px;
    margin: auto;
    margin-bottom: 40px;

    font: inherit;
}