main {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;

    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 12px 12px 48px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 40px;

    font: inherit;
}