.closeButton {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.infoModal {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 85dvh;
}

.modalHeading {
    align-self: flex-start;
}

.tagline {
    align-self: flex-start;
    
    margin: 0.6rem 0 1.6rem;

    font-size: 1.1rem;
    font-weight: 600;
}

.hintSection {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hintList {
    list-style: inside disc;
}

.hintList > li {
    padding-left: 12px;
    margin-top: 8px;
}

.image, 
video {
    height: 140px;
    margin-top: 8px;

    background-color: var(--white);
}

.cancelButton {
    padding: .6rem 3rem;
    margin-top: 40px;

    color: var(--grey-1000);
    font-family: "Lilita One";
    font-size: 1.25rem;

    background-color: var(--grey-800);
    border-radius: 100px;
}

.credit {
    margin-top: 2rem;

    font-family: "Lilita One";
    font-size: .8rem;
}

.creditLink {
    color: var(--primary-200);
}

@media screen and (width < 500px) {
    .infoModal {
        height: 100dvh;
    }
}