.infoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
}

.modalHeading {
    align-self: flex-start;
}

.tagline {
    margin: 0.6rem 0 1.6rem;

    font-size: 1.1rem;
    font-weight: 600;
}

.hintSection {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 20px;
}

.hintList {
    list-style: inside disc;
}

.hintList > li {
    padding-left: 12px;
    margin-top: 8px;
}

.image {
    height: 140px;
    margin-top: 8px;

    background-color: rgb(230, 230, 230);
}

.playButton {
    padding: .6rem 3rem;
    margin-top: 2rem;

    color: white;
    font-family: "Lilita One";
    font-size: 20px;

    background-color: #0090FF;
    border-radius: 100px;
}

.credit {
    margin-top: 2rem;

    font-family: "Lilita One";
    font-size: .8rem;
}

.creditLink {
    color: #0090FF;
}