.button {
    position: relative;

    min-width: 44px;
    min-height: 44px;

    padding: 8px 16px;

    font: inherit;
    color: var(--grey-900);

    border-radius: 100px;
    border: 2px solid var(--grey-1000);

    overflow: hidden;
}

.hintProgressIndicator {
    position: absolute;
    left: -20px;
    top: 0;

    min-height: 44px;

    border-radius: 100px;
    background-color: var(--grey-800);
}

.scoreIncreaseIndicator {
    position: absolute;
    right: 25%;
    top: 25%;
}