.button {
    position: relative;
    z-index: 2;

    min-width: 44px;
    min-height: 44px;

    padding: 4px 20px;

    font: inherit;
    color: var(--grey-1000);

    border: 2px solid var(--grey-1000);

    overflow: hidden;
}

.contentWrapper {
    position: relative;
    z-index: 2;
}

.buttonText {
    z-index: 2;

    font-weight: 600;
}

.numberOfHintsIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.dotIndicator {
    height: 2px;
    width: 12px;

    background-color: var(--grey-1000);
}

.hintProgressIndicator {
    position: absolute;
    left: -20px;
    top: 0;

    min-height: 44px;

    background-color: var(--primary-100);
    transition-property: width;
    transition-timing-function: ease-out;
}

.full {
    background-color: var(--primary-150);
}

.scoreIncreaseIndicator {
    position: absolute;
    right: 25%;
    top: 25%;
    z-index: 2;
    animation: arcFloatAnimation 1.2s forwards;
}

@keyframes arcFloatAnimation {
    0% {
        opacity: 0;
        transform: translate(-50%, 0) scale(0.9);
    }

    80% {
        opacity: 1;
        transform: translate(calc(-50% + 5px), -12px) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(calc(-50% + 7px), -10px) scale(1);
    }
}