.displayContainer {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;

    max-width: 100%;
}

.value {
    width: 44px;
    height: 44px;

    text-align: center;
    font-family: "Figtree", sans-serif;
    font-size: 2rem;
    white-space: nowrap;
}

.guess {
    height: 44px;
    width: 100%;

    text-align: center;
    font-family: "Figtree", sans-serif;
    font-size: 2rem;
    white-space: nowrap;
    direction: rtl;

    overflow-x: scroll;
}

.lastGuess {
    color: var(--grey-850);
}