.guess {
    height: 3rem;

    text-align: center;
    font-family: "Figtree", sans-serif;
    font-size: 2rem;

    overflow-x: scroll;
    direction: rtl;
/* 
    border: 2px solid var(--grey-1000); */
}

.lastGuess {
    color: var(--grey-850);
}