.footer {
    display: flex;
    justify-content: center;

    margin-top: auto;
    width: 100%;

    border-top: 1px solid var(--grey-1000);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 44px;
    min-height: 44px;

    color: inherit;
}