.closeButton {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
}

.modalHeading {
    align-self: flex-start;
}

.tagline {
    margin: 0.6rem 0;

    font-size: 1.1rem;
    font-weight: 600;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    
    margin-top: 2rem;
}

.cancelButton,
.finishButton {
    padding: 0.6rem 3rem;

    font-family: "Lilita One";
    font-size: 1.25rem;

    border-radius: 100px;
}

.cancelButton {
    color: var(--grey-1000);

    background-color: #d9d9d9;
}

.finishButton {
    color: var(--white);

    background-color: #0090ff;
}
