.duplicateGuessContainer {
    position: fixed;
    display: none;
    top: 130px;
    left: 50%;

    padding: 8px 16px;

    text-align: center;
    font-size: 1.25rem;

    background-color: var(--primary-100);
    animation: appear 1s;
    transform: translate(-50%, -50%);
    z-index: 3;
    pointer-events: none;
}

.visible {
    display: block;
}

@keyframes appear {
    to, from {
        opacity: 1;
    }
}